.friendlist {
  list-style: none;
  padding: 0;
}
.friendlist__status {
  display: flex;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 15px;
}
.friendlist__item {
  width: 250px;
  height: 100px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.434);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
}
.friendlist__avatar {
  margin-left: 15px;
  background-color: grey;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.434);
}
.friendlist__name {
  margin-left: 10px;
  font-size: large;
}
.friendlist__status--online {
  background-color: green;
}

.friendlist__status--offline {
  background-color: red;
}
