.transaction-history__table {
  width: 95%;
  border-collapse: collapse;
  margin-bottom: 50px;
  border-radius: 5px;
  border: 1px solid rgba(93, 91, 91, 0.641);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.transaction-history__table th,
.transaction-history__table td {
  padding: 8px;
  text-align: center;
  border: 1px solid rgba(93, 91, 91, 0.641);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.transaction-history__table th {
  background-color: #7acbf7;
  font-weight: bold;
}

.transaction-history__table tbody tr {
  display: table-row;
}

.transaction-history__table tbody tr td {
  display: table-cell;
}

.transaction-history__table .invoice {
  background-color: #d5dba1;
}

.transaction-history__table .withdrawal {
  background-color: #e9d3d3;
}

.transaction-history__table .payment {
  background-color: #6bae8d;
}

.transaction-history__table .deposit {
  background-color: #cb95c9;
}
