/* bring in normalize.css styles */
@import url(../src/components/Profile/profile.css);
@import url(../src/components/Statistics/statistics.css);
@import url(../src/components/FriendList/friendlist.css);
@import url(../src/components/TransactionHistory/transactionhistory.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
